.aboutBoxR{min-height: 610px;padding-left: 50px!important;}
.aboutBoxR .title::before{content: '';width: 80px;height: 4px;position: absolute;bottom: 0;background-color: #BB1B21;}

.aboutBoxR .content p{padding-bottom: 10px;font-size: 18px;color: #222;line-height: 2;font-family: '微软雅黑'!important;}
.aboutBoxR  .video{width: 100%;height: auto;}
video{width: 100%;height: auto;}

.box4 .content div{overflow: hidden;}
.box4 .content div img{float: left;margin-top: 7px;}
.box4 .content div span{width: 90%;display: block;float: left;line-height: 1.5!important;}

.aboutBoxR span{display: inline!important;}



/* 联系我们 */
	.contact input,textarea{border: 1px solid #e1e1e1;margin-bottom: 20px;display: block;font-family: '微软雅黑';padding-left: 30px;box-sizing: border-box;font-size: 22px;}
	.contact input{width: 425px;height: 80px;line-height: 80px;font-size: 22px;}
	.contact .email{width: 100%;}
	.contact textarea{width: 100%;height: 300px;padding-top: 30px;}
	input::-webkit-input-placeholder{font-size: 22px;color: #999;}
	textarea::-webkit-input-placeholder{font-size: 22px;color: #999;}
	.contactUs .map{width: 100%;}
	.contactUs .map img{width: 100%;}
	.agreen img{float: left;}
	.agreen p{width: 90%;}
	.contactUs .submit{width: 400px;height: 80px;line-height: 80px;}
	
	
	
	
	
/* 全球网络 */
.netImg{width: 497px;height: 220px;}
.network .item{display: flex;align-items: flex-start;padding-top: 20px;}
.network .item:nth-child(1){padding-top: 0;}
.netBox1L .item span{width: 270px;padding-left: 20px;}
/* .netBox2 .dd:nth-child(2n){padding-left: 100px;} */
.netBox2 .item span{width: 320px;padding-left: 20px;}


/* 行业协会 */
.association .item{width: 270px;margin-right: 20px;}
.association .item:nth-child(3n){margin-right: 0;}
.association .item img{width: 100%;box-shadow: 0 0 10px 5px #f5f5f5;/* height: 204px; */}





@media only screen and (max-width: 1600px){
	.box1 .content div{overflow: hidden;}
	.box1 .content img{float: left;margin-top: 5px!important;}
	.box1 .content>img{width: 100%!important;}
	.box1 .content>div:nth-child(8) img{width: 100%!important;}
	.box1 .content span{width: 90%;display: block;float: left;line-height: 1.5!important;}
}

@media only screen and (max-width: 1440px){
	.box2 .contact div input{width: 49%;}
	.netImg{width: 50%;}
	.box5 .item{width: 48%;}
	.box5{padding: 100px 30px!important;}
	
	.association{justify-content: space-between;}
	.association .item{margin-right: 0;}
	/* .association .item img{height: 244px;} */
}

@media only screen and (max-width: 1100px){
	.aboutBoxR{padding-right: 50px;}
	.aboutBoxR h2{line-height: 1.5!important;}
	.netBox2 .item span{width: 280px;font-size: 16px;}
}

@media only screen and (max-width: 960px){
	.netBox1L{width:100%;}
	.netBox1L .item {width: 100%;}
	.netBox1L .item span{width: 90%;}
	.netImg{float: none;margin-top:20px;width: 100%;height: auto;}
	.netBox2 .item span{width: 280px;font-size: 16px;}
	/* .box5 .item{width: 50%;} */
	.agreen img{margin-top: 5px;}
}

@media only screen and (max-width: 750px){
	.aboutBoxR{padding-top: 50px;padding-right: 50px;}
	.aboutBoxR .content{padding-top: 0;}
	.aboutBoxR .content p{padding-bottom: 30px;font-size: 16px;}
	.aboutBoxR h1{font-size: 28px;}
	.aboutBoxR h2{font-size: 22px;}
	.box1 .content h3{font-size: 22px;padding: 0 0 30px!important;}
	.box1 .content{padding-right: 0;}
	.box1 .content span{font-size: 16px;}
	.box2 .contact input,textarea{height: 60px;}
	.contact textarea{padding: 20px;}
	.box5{padding: 60px 20px!important;}
}

@media only screen and (max-width: 500px){
	.aboutBoxR{padding:30px 20px;padding-left: 20px!important;}
	.aboutBoxR .title{font-size: 22px;padding-bottom: 20px;}
	.aboutBoxR h2{font-size: 18px!important;padding-bottom: 0!important;}
	.aboutBoxR .content p{font-size: 14px;padding-bottom: 15px;line-height: 1.7!important;}
	.box1 .content h3{font-size: 18px!important;padding-bottom: 20px!important;}
	.box1 .content span{font-size: 14px!important;display: inline;}
	.box2 h1{font-size: 24px;padding-bottom: 20px;}
	.box2 .contact input,textarea{height: 40px;font-size: 14px;padding-left: 15px;margin-bottom: 10px;}
	.contact textarea{padding: 15px;height: 160px;}
	input::-webkit-input-placeholder{font-size: 14px;}
	textarea::-webkit-input-placeholder{font-size: 14px;}
	.box2 .agreen{font-size: 14px;padding-top: 30px;}
	.box2 .agreen img{width: 15px;}
	.box2 .agreen p{font-size: 14px;width: 88%;}
	.contactUs .submit{width: 100%;height: 40px;line-height: 40px;font-size: 16px;margin: 0;border-radius: 5px;}
	.box3 h1{font-size: 24px;}
	.netBox1L .item{padding-top: 15px;}
	.netBox1L .item span{font-size: 14px;}
	.netBox1L .item img{width: 5%;margin-top: 0.5%;}
	.netBox2 .dd{margin: 15px 0;width: 100%;}
	.netBox2 .dd h2{padding-bottom: 20px;}
	.netBox2 .item{padding-top: 10px;}
	.netBox2 .item img{width: 5%;margin-top: 0.5%;}
	.netBox2 .item span{width: 90%;font-size: 12px;}
	.box4 .title{line-height: 1.5!important;}
	.box4 p{font-size: 14px;padding-bottom: 20px;}
	.box4 .content h3{font-size: 20px;line-height: 1.5!important;padding-bottom: 30px;}
	.box4 .content div span{font-size: 14px;}
	.box4 .video{margin: 0;}
	.box5 .item{padding-bottom: 20px;}
	.box5 .item p{font-size: 12px;padding: 10px;}
	.box5{padding:40px 20px!important;}
	
	.aboutBoxR{min-height: 0;}
}

@media only screen and (max-width: 320px){
	.box1 .content h3{font-size: 16px;padding-bottom: 20px;padding-top: 20px;}
	.box1 .content span{font-size: 12px;}
	.box2 .agreen{font-size: 12px;}
	.box5 .item{width: 100%;padding-bottom: 20px;font-size: 14px;}
}