.serviceBoxR{min-height: 790px;padding-left: 50px!important;}
.serviceBoxR .title::before{content: '';width: 80px;height: 4px;position: absolute;bottom: 0;background-color: #BB1B21;}

.serviceBoxR .content1{width: 100%;background-color: #f5f5f5;padding: 60px;margin-top: 50px;}
.serviceBoxR .contentBox a{color: #1b63e7;}
.content1 .contentBox:nth-child(2){margin-left: 150px;}
.content .video,video{width: 100%;}



@media only screen and (max-width: 1440px) {
	.serviceBoxR .content1 .contentBox:nth-child(2){margin-left: 100px;}
}

@media only screen and (max-width: 1100px) {
	.serviceBoxR .content{width: 90%;padding: 30px 40px;}
	.serviceBoxR .content1 .contentBox:nth-child(2){float: right;margin-right: 30px;margin-left: 0;}
	.serviceBoxR .contentBox h2{font-size: 24px;}
	.serviceBoxR .contentBox p{font-size: 18px;}
	.serDetailBox p{line-height: 1.5!important;}
}

@media only screen and (max-width: 960px) {
	.serviceBoxR{padding-left: 30px!important;}
	.serviceBoxR .content1 .contentBox:nth-child(2){padding-left: 30px;}
	.serviceBoxR .content{margin-right: 30px;width: 95%;}
	.serviceBoxR .contentBox h2{font-size: 22px;}
	.serviceBoxR .contentBox p{font-size: 16px;}
	.serviceBoxR .contentBox a{font-size: 14px;}
	
	.serviceBoxR .content2{margin-top: 0;padding-left: 0;padding-right: 0;}
	.serviceBoxR .content2 h2{font-size: 22px;line-height: 1.5!important;padding: 0;}
	.serviceBoxR .content2 .item h1 a{font-size: 24px;}
}

@media only screen and (max-width: 550px) {
	.serviceBoxR{padding: 40px 20px!important;min-height: 0;}
	.serviceBoxR .content{margin-top: 30px;margin-right: 0;width: 100%;padding: 20px 20px;}
	.serviceBoxR .content h2{font-size: 16px;line-height: 1.5!important;padding: 10px 0;}
	.serDetailBox{padding: 0!important;margin-top: 0!important;}
	.serDetailBox p{font-size: 12px;line-height: 1.5!important;}
	.serviceBoxR .contentBox{width: 100%;}
	.serviceBoxR .contentBox:nth-child(2){margin-right: 0;padding-bottom: 20px;}
	.serviceBoxR .contentBox h2{font-size: 20px;}
	.serviceBoxR .contentBox p{padding-bottom: 20px;padding-top: 20px;}
	.serviceBoxR .serItem{display: flex;flex-wrap: wrap;}
	.serviceBoxR .serItem div{width: 50%;padding-bottom: 20px;}
	.serviceBoxR .contentBox a{font-size: 12px;}
	
	.serviceBoxR .content2{margin-top: 0;padding: 0 0 20px 0;}
	.serviceBoxR .content2 h2{font-size: 16px;}
	.serviceBoxR .content2 .item{padding-top: 20px;}
	.serviceBoxR .content2 .item div{width: 90%;padding-left: 10px;}
	.serviceBoxR .content2 .item img{width: 15px;}
	.serviceBoxR .content2 .item h1 a{font-size: 16px;}
	.serviceBoxR .content2 .item div p{font-size: 12px;padding: 15px0;line-height: 1.5!important;}
}

@media only screen and (max-width: 320px){
	.serviceBoxR .content2 .item{padding-top: 15px;}
	.serviceBoxR .content2 .contentBox{padding-bottom: 20px;}
}