<div class="footer">
	<div class="footBox">
		<img :src="topData.mainImg&&topData.mainImg[0]?topData.mainImg[0].url:''" class="logo">
		
		<div class="footNav floatR">
			<div class="nav" v-for="(v,i) in labelData" :key="i" :class="language=='EN'?'EN_Nav':''">
				<div class="navHead"><a :href="v.url">{{language=='CN'?v.title:v.ENTitle}}</a></div>
				<div class="navList">
					<div class="navLi" v-for="(item,index) in v.list" v-if="index<8"><a  :href="v.url+'?index='+index">{{item.title}}</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var footer = new Vue({
		el:'.footer',
		data:function(){
			return {
				labelData:[
					{
						title:'产品中心',
						ENTitle:'Product Center',
						url:'product.html',
						list:[]
					},{
						title:'生产管理',
						ENTitle:'Production Management',
						url:'management.html',
						list:[]
					},{
						title:'服务体系',
						ENTitle:'Service System',
						url:'service.html',
						list:[]
					},{
						title:'关于我们',
						ENTitle:'About Us',
						url:'aboutUs.html',
						list:[]
					}
				],
				language:'',
				topData:{}
			}
		},
		
		created:function(){
			const self = this;
			if(!localStorage.getItem('language')){
				localStorage.setItem('language', 'CN')
			};
			self.language = localStorage.getItem('language');
			console.log('self.language',self.language);
			self.getTopData();
			this.getProductLabelData();
			this.getManagementLabelData();
			this.getServiceLabelData();
			this.getAboutLabelData()
		},
		
		methods:{
			
			getTopData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'英文':'中文'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['顶部文字']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Article',
						middleKey:'id',
						key:'menu_id',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						self.topData = res.info.data[0].child[0]
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getProductLabelData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'左侧菜单英文':'左侧菜单'
				};
				
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['产品中心']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Label',
						middleKey:'id',
						key:'parentid',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]&&res.info.data[0].child){
						self.labelData[0].list = res.info.data[0].child;
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getManagementLabelData(){
			    var self = this;
			    var postData = {};
				
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'左侧菜单英文':'左侧菜单'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['生产管理']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Label',
						middleKey:'id',
						key:'parentid',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]&&res.info.data[0].child){
						self.labelData[1].list = res.info.data[0].child;
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getServiceLabelData(){
			    var self = this;
			    var postData = {};
				
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'左侧菜单英文':'左侧菜单'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['服务体系']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Label',
						middleKey:'id',
						key:'parentid',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]&&res.info.data[0].child){
						self.labelData[2].list = res.info.data[0].child;
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getAboutLabelData(){
			    var self = this;
			    var postData = {};
				
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'左侧菜单英文':'左侧菜单'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['关于我们']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Label',
						middleKey:'id',
						key:'parentid',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]&&res.info.data[0].child){
						self.labelData[3].list = res.info.data[0].child;
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
		}
	})
</script>
<style>
	.footer{background-color: #313131;}
	.footBox{padding: 80px 0;box-sizing: border-box;width: 1200px;overflow: hidden;margin: 0 auto;}
	.footNav a{color: #fff;}
	.footNav .nav{float: left;margin-left: 120px;}
	.footNav .EN_Nav{margin-left: 70px;}
	.footNav .nav:nth-child(1){margin-left: 0;}
	.footer .navHead{font-size: 22px;font-weight: bold;padding-bottom: 30px;}
	.footer .navLi a{font-size: 18px;color: #b8b8b8;padding-bottom: 30px;}
	
	/* 自适应 */
	
	@media only screen and (max-width: 1440px) {
		.footNav .nav{margin-left: 100px;}
		.footNav .EN_Nav{margin-left: 40px;}
		.EN_Nav .navHead{font-size: 18px;}
		.footNav .nav:nth-child(1){margin-left: 0;}
	}
	
	@media only screen and (max-width: 1200px) {
		.footBox{width: 1000px;}
	}
	
	@media only screen and (max-width: 1024px) {
		.footBox{width: 100%;}
		.footBox .logo{margin-left: 100px;}
		.footNav{float: none;margin-top: 50px;}
		.footNav .nav{margin-left: 100px;}
		.footNav .nav:nth-child(1){margin-left: 100px;}
		.footNav .EN_Nav{margin-left: 80px;}
	}
	
	@media only screen and (max-width: 960px) {
		.footBox .logo{margin-left: 80px;}
		.footNav .nav{margin-left: 80px;}
		.footNav .nav:nth-child(1){margin-left: 80px;}
		.footNav .EN_Nav{margin-left: 30px;}
	}
	
	@media only screen and (max-width: 760px) {
		.footBox .logo{margin-left: 50px;}
		.footNav{display: flex;justify-content: space-around;}
		.footNav .nav{margin-left: 0;}
		.footNav .nav:nth-child(1){margin-left: 0;}
		.footer .navHead{font-size: 20px;}
		.footer .navLi a{padding-bottom: 20px;font-size: 16px;}
		
		.footNav .EN_Nav{width: 25%;}
		.footNav .EN_Nav .navHead{font-size: 16px;}
	}
	
	@media only screen and (max-width: 500px) {
		.footBox{padding: 50px 0;}
		.footBox .logo{margin-left: 30px;}
		.footNav{display: block;overflow: hidden;margin-top: 20px;}
		.footer .navHead{font-size: 14px;padding: 15px 0 10px;}
		.footer .navLi a{padding-bottom: 6px;font-size: 12px;padding-right: 20px;}
		.footer .nav{width: 100%;padding-left: 8%;}
		.footer .navList{display: flex;width: 100%;flex-wrap: wrap;}
	}
	
	@media only screen and (max-width: 320px) {
		.footBox{padding: 50px 0;}
		.footer .logo{width: 200px;}
		.footer .footNav{margin-top: 30px;}
	}
</style>