<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>国是电子</title>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/swiper.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<link type="text/css" rel="stylesheet" href="./css/index.css">
		<link type="text/css" rel="stylesheet" href="./css/public.css">
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	</head>
	
	<body>
		<div id="app">
			<!-- 头部 -->
			<include src="header.html"></include>
			
			<!-- banner -->
			<div class="banner position-r text-c overflow-h">
				<div class="bannerItem position-r" v-for="(v,i) in bannerData" :key="i" v-if="bannerCurr == i">
					<div class="bannerImg"><img :src="v.img" ></div>
					<div class="position-a colorf top0 w-100 tit">
						<div class="font-60 font-w tit1">{{v.title}}</div>
						<div class="font-30 py-5 tit2">小标题小标题小标题小标题小标题</div>
						<div class="font-40 colorf bgM position-a bottom0 tit3 w-100">授权代理 - 许可生产再制造 - 生产服务</div>
					</div>
				</div>
				
				<!-- 按钮 -->
				<div class="bannerBtn per" @click="changeBannerBtn(1)"><img src="images/icon5.png" ></div>
				<div class="bannerBtn next" @click="changeBannerBtn(-1)"><img src="images/icon4.png" ></div>
			</div>
			
			<!-- 底部 -->
			<include src="footer.html"></include>
		</div>
		
	</body>
</html>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:function(){
			return {
				bannerData:[
					{'img':'./images/banner0.jpg',
						'title':'标题第一个标题'
					},
					{'img':'images/banner1.jpg',
						'title':'标题第二个标题'
					}
				],
				bannerCurr:-1,
				bannerTime:null
			}
		},
		created:function(){
			const self = this;
			if(self.bannerData.length >= 1){
				self.bannerTime = setInterval(function(){
					self.changeBanner('+')
				},4000)
			}
		},
		methods:{
			changeBanner:function(type){
				const self = this;
				if(type == '+'){
					self.bannerCurr = self.bannerCurr + 1;
					if(self.bannerCurr == self.bannerData.length){
						self.bannerCurr = 0;
					}
				}else{
					self.bannerCurr = -1;
				}
			},
			changeBannerBtn(x){
				const self = this;
				clearInterval(self.bannerTime);
				self.bannerTime = null;
				self.bannerCurr = self.bannerCurr + 1;
				if(self.bannerCurr == self.bannerData.length){
					self.bannerCurr = 0;
				}else if(self.bannerCurr == -1){
					self.bannerCurr = self.bannerData.length-1;
				}
				self.bannerTime = setInterval(function(){
					self.changeBanner('+')
				},4000)
			}
		},
		destroyed(){
			const self = this;
			clearInterval(self.bannerTime);
			self.bannerTime = null;
		}
	})
</script>
<style type="text/css">
	.swiper-container{height: 300px;}
</style>