<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>国是电子-生产管理</title>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<link type="text/css" rel="stylesheet" href="./css/public.css">
		<link type="text/css" rel="stylesheet" href="./css/management.css">
		<link type="text/css" rel="stylesheet" href="./css/common.css">
	</head>
	
	<body>
		
		<div id="app">
			<!-- 头部 -->
			<template>
			<include src="header.html"></include>
			
			<div class="allHead">
				<img :src="bannerData&&bannerData.mainImg&&bannerData.mainImg[0]?bannerData.mainImg[0].url:''">
				<div class="allTit">
					<div class="tit1 font-40 font-w py-5 mt-3">{{bannerData&&bannerData.title?bannerData.title:''}}</div>
					<div class="tit2 font-22">{{bannerData&&bannerData.small_title?bannerData.small_title:''}}</div>
				</div>
			</div>
			
			<div class="allBox w-1200 manaBox">
				<div class="allBoxL floatL manaBoxL">
					<div class="nav">
						<div class="navLi" v-for="(item,index) of labelData" 
						:class="id==item.id?'on':''" @click="changeCurr(index)"><a>{{item.title}}</a></div>
					</div>
				</div>
				
				<div class="allBoxR floatL manaBoxR" v-if="id<0">
					<h1 class="color2 font-32 pb-3 position-r title line-h1">{{titleData&&titleData.title?titleData.title:''}}</h1>
					
					<div class="content line-h1">
						<h2 class="font-26 color2 py-3">{{titleData&&titleData.small_title?titleData.small_title:''}}</h2>
						<div class="overflow-h pt-5 item" v-for="(item,index) of labelData" 
						:class="id==item.id?'on':''" @click="changeCurr(index)">
							<img :src="item&&item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" class="floatL">
							<div class="floatL pl-2">
								<h1 class="colorT font-28">{{item.title}}</h1>
								<p class="color2 font-18 pt-3">{{item.description}}</p>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 合作伙伴 -->
				<div class="allBoxR floatL manaBoxR" v-else>
					<h1 class="color2 font-32 pb-3 position-r title line-h1" v-if="mainData.title">{{mainData.title}}</h1>
					<div class="content color2">
						<div class="content ql-editor " style="clear: both;">
							<p class="p1 " v-html="mainData.content"></p>
						</div>
					</div>
				</div>
				
				
				
				
			</div>
			
			
			<!-- 底部 -->
			<include src="footer.html"></include>
			
			</template>
		</div>
		
		
	</body>
</html>
<script type="text/javascript">
	var app = new Vue({
		"el":'#app',
		data:function(){
			return {
				manaCurr:0,
				headCurr:1,
				mainData:{},
				labelData:[],
				bannerData:{},
				titleData:{},
				id:-1
			}
		},
		
		created:function(){
			const self = this;
			self.getBannerData();
			self.getTitleData();
			self.getLabelData();
			
		},
		
		methods:{
			
			getLabelData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'左侧菜单英文':'左侧菜单'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['生产管理']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Label',
						middleKey:'id',
						key:'parentid',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]&&res.info.data[0].child){
						self.labelData = res.info.data[0].child;
						//self.id = self.labelData[0].id;
						//self.getMainData()
						if(window.base.GetRequest().index){
							console.log(22)
							self.id = self.labelData[window.base.GetRequest().index].id;
							self.getMainData()
						}
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getMainData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
					menu_id:self.id
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						self.mainData = res.info.data[0]
			        };    
			    };
			    window.base.articleGet(postData, callback);
			},
			
			getTitleData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'右侧标题英文':'右侧标题'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['生产管理']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Article',
						middleKey:'id',
						key:'menu_id',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						self.titleData = res.info.data[0].child[0]
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getBannerData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
					title:localStorage.getItem('language')=='EN'?'顶部主图英文':'顶部主图'
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['生产管理']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Article',
						middleKey:'id',
						key:'menu_id',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
						order:{
							listorder:'desc'
						}
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]&&res.info.data[0].child){
						self.bannerData = res.info.data[0].child[0]
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			changeCurr(i){
				const self = this;
				if(self.id!=self.labelData[i].id){
					self.mainData = {};
					self.id = self.labelData[i].id;
					self.getMainData()
				}
			}
		}
	})
</script>